@import '@angular/material/prebuilt-themes/azure-blue.css';

* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif!important;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background: #F5F7FA;
  color: #222b45;
}

button,
a {
  font: inherit;
}
